/* Scrollbar style start  */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #dc143c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc143c;
}
/* Scrollbar style end  */

.var(--gray-text-color)Placeholder::placeholder {
  color: #dc143c !important ;
}

.to-suggest-box {
  background-color: #d8ebfc !important;
  width: 300px !important;
}

.passenger-h3 h3 {
  font-family: "Poppins";
  font-size: 16px;
  color: #dc143c;
  padding: 5px 12px;
}
.hr-line {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--primary-color);
  margin: 0px 12px;
}
.new-passengerBtn {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  flex-direction: column;
  padding-left: 10px;
}
.new-passengerBtn .MuiFormControlLabel-label {
  font-size: 12px;
}
.new-passengerBtn span.Mui-checked {
  color: "var(--primary-color)" !important;
}
/* .new-passengerBtn button {
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  position: relative !important;
  right: 0 !important;

} */

#passengerEcoBtn {
  background: var(--primary-color);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

/* #passengerSaveBtn {
  background: #dc143c;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 12px;
  padding: 5px 30px;
} */

.new-paper-box {
  position: absolute;
  top: 100%;
  left: 0 !important;
  transform: translate(-0%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  z-index: 20;
}
.multi-city-pssanger-box .new-paper-box {
  position: absolute;
  top: 31%;
  left: 53% !important;
  transform: translate(-0%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  z-index: 20;
}

/*  update one way search design  */

@media all and (min-width: 320px) and (max-width: 425px) {
  .new-paper-box {
    position: absolute;
    top: 40%;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
.new-dashboard-calendar {
  position: absolute;
  top: 100%;
  left: 0px;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 10;
}
.new-dashboard-calendar span {
  font-size: 14px;
  font-weight: bold;
}
.new-dashboard-calendar span.rdrWeekDay {
  color: #e30431;
}
.new-dashboard-calendar .rdrMonthName {
  color: var(--primary-color);
}
.new-search-flight-btn {
  width: 100%;
  background-color: #e30431 !important;

  opacity: 1;
  height: 42px;
  border-radius: 0px !important;
  box-shadow: none !important;
}

/*  dashboard Main css style copy */

.dashboardmarquee {
  background-color: #809ab3;
  height: 40px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 17px;
  position: sticky !important;
  top: 96px !important;
  z-index: 10;
}

.from-suggest-box-r {
  background-color: #d8ebfc !important;
  width: 300px;
}
.to-suggest-box-r {
  background-color: #d8ebfc !important;
  width: 300px;
}

.dashboard-main-form {
  padding: 10px 0px;
}

.custom-textfiled .MuiInputBase-colorPrimary {
  box-shadow: none !important;
  border: None !important;
}
.custom-autocomplete-lightbox {
  display: none;
}
.auto-input-field {
  box-shadow: none !important;
  border: None !important;
}
.dashboard-container {
  margin: 0px 20px;
}
.dashboard-main {
  background-color: var(--primary-color);
  margin-top: 20px;
  padding: 30px 0px;
  border-radius: 10px;
}
.dashboard-top img {
  margin-top: 2px;
}
.dashboard-main-banner {
  width: 50%;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 5px 0px;
  border-radius: 5px;
}
.dashboard-main .PrivateTabIndicator-root-5 {
  display: none !important;
}

.search-flight-btn {
  width: 100%;
  background-color: #e30431 !important;
  margin-top: 20px !important;
  opacity: 1;
  height: 42px;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.css-tt4a8y {
  margin-top: 0px !important;
}
.toggle-btn {
  /* display: flex; */
  padding-top: 15px;
  text-align: center;
}

/* Tab style here */

.custom-tab {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 25px !important;
  height: 40px !important;
}

.PrivateTabIndicator-colorSecondary-3 {
  display: none !important;
}

.dashboard-main .MuiTab-textColorInherit.Mui-selected {
  background-color: yellow;
  border-radius: 5px;
  min-height: 0px !important;
  height: 30px !important;
  /* line-height: 10px !important; */
  padding: 20px 0px;
}
.dashboard-main .MuiTab-textColorInherit {
  min-height: 0px !important;
  /* height: 10px !important; */
  line-height: 0px !important;
}

.dashboard-main .MuiTabs-flexContainer {
  display: flex;
  justify-content: space-between;
}

.css-1gsv261 {
  border: 1px solid;
  border-color: #fff !important;
  background-color: #fff;
  height: 47px;
  border-radius: 5px;
}

/* .PrivateTabIndicator-colorSecondary {
    background-color: yellow !important;
  } */

.custom-tab .MuiTabs-indicator {
  background-color: yellow !important;
}
.dashboard-main-input {
  /* width: 100%; */
  height: 42px;
  /* background-color: #d8ebfc !important; */
  margin-top: 10px;
  border-radius: 5px !important;
}

/* .passenger-9{
    z-index: 100 !important;
  } */
.dashboard-main-input .dashboard-inputBox {
  /* width: 100%; */
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-main-input .dashboard-inputBoxto {
  /* width: 100%; */
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dashboard-main-input input {
  width: 85%;
  height: 42px;
  color: #000 !important;
  background-color: transparent !important;
}
.dashboard-main-input input::placeholder {
  color: #000 !important;
}

.dashboard-main-input .departure-icon {
  margin: 0px 15px;
  color: var(--primary-color);
}
.dashboard-main-input .dashboard-iconBox {
  width: 15%;
  height: 40px;
  display: flex;
  align-items: center;
}

.dashboard-main-input .location-icon {
  width: 100%;
  height: 56%;
  font-size: 20px;
  border-left: 2px solid;
}

.MuiTabPanel-root {
  padding: 0 !important;
}

.dashboard-main-input input[type="date"] {
  background: transparent;
  border: none;
  opacity: 0.8;
  color: #000 !important;
  /* z-index: 10 !important; */
}

.dashboard-main-input input[type="text"] {
  background: transparent;
  border: none;
  opacity: 0.8;
  color: #000 !important;
  /* opacity: 0.8; */
}

.dashboard-main-input input[type="date"] {
  background: transparent;
  border: none;
  opacity: 1;
  color: #000 !important;
}
.dashboard-main-input-btn {
  width: 98%;
  margin-top: 10px;
  border-radius: 5px;
}
.dashboard-main-input-btn Button {
  width: 98% !important;
  height: 42px;
  border-radius: 5px !important;
  font-size: 12px;
  font-weight: 500;
  color: #000 !important;
}
.dashboard-main-input-btn Button:hover {
  background-color: none;
}

.dialog-box {
  position: absolute !important;
  right: 0;
  top: 100%;
  z-index: 1;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}
.dialog button {
  font-size: 14px;
  border: 2px solid #ffff00 !important;
}

.dialog-content h5 {
  color: var(--primary-color) !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  height: 20px;
  width: 8px;
}

.dialog-content span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #dc143c;
}

/* .incre-decre {
    margin: 8px 0px;
  } */

.incre-decre button {
  margin: 0px 5px;
  background-color: var(--primary-color);
  width: 30px;
  height: 25px;
  color: #fff;
  padding-bottom: 30px;
  border: none;
  font-size: 20px;
  /* text-align: center; */
}

.dialog button:hover {
  border: none;
  color: #fff;
  border-bottom: 2px solid #fff;
  background-color: var(--primary-color);
}

.dialog-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 93px;
  padding-bottom: 6px;
}

.dialog-flex-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 6px;
}

.dialog-flex-infant {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* padding-bottom: 15px;
    padding: 5px 18px;
    border-bottom: 1px solid var(--primary-color); */
}

.dashboard-main-carousel {
  margin-top: 30px !important;
}

.dialog-done-btn button {
  background-color: #f96e03;
  color: white !important;
  font-weight: bold;
}

.dialog-done-btn button:hover {
  color: #212529 !important;
  background-color: #f96e03;
}

.dataresult {
  margin-top: 5px;
  width: 230px;
  max-height: 200px;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
}
.dataresult::-webkit-scrollbar {
  display: none;
}

.dataresult .dataItem {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem {
  margin-left: 10px;
}
/* Search Flight button  */
.button-index {
  z-index: -1 !important;
}
/* .passanger-box {
    z-index: 1;
  } */
.box-index-oneway {
  z-index: 100 !important;
}
.box-index-multicity {
  z-index: 2 !important;
}
.box-index-roundtrip {
  z-index: 3 !important;
}

.update-search1 {
  position: relative;
  padding: 12px 22px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 7px #d1e9ff !important;
}

.update-search1 p {
  color: #8c8080;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
}

.update-search1 .addressTitle {
  color: #dc143c !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.update-search1 input {
  border: none;
  width: 100%;
  color: var(--primary-color);
  background-color: transparent;
  font-size: 13px;
}

.update-search1 input::placeholder {
  color: var(--primary-color);
  opacity: 1;
}

.traveler-count button {
  text-align: left;
  padding: 0px 6px;
  margin: 0px;
  text-transform: capitalize;
  line-height: 28px;
}

.traveler-count span {
  color: #dc143c;
  font-family: "Poppins";
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}

.add-city button {
  background: #dc143c;
  width: 100%;
  border: none;
  color: #fff;
  height: 60px;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.remove-city button {
  background: #fff;
  width: 100%;
  border: none;
  color: #dc143c;
  height: 60px;
  cursor: pointer;
  border: 1px solid #dc143c;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.swap-btn2 {
  position: absolute;
  background: var(--primary-color);
  right: -15px;
  top: 21px;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto !important;
  justify-content: center;
  border: 1px solid #fff;
}

/* media query for mobile */

@media only screen and (min-width: 1025px) {
  .custom-tab {
    width: 42%;
  }
  .css-18m3zjo {
    width: 80% !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .MuiTab-root {
    min-width: 20px !important;
  }
  /* button .MuiButtonBase-root{
  width: 10px !important;
  } */
  /* .custom-tab {
      width: 40%;
    } */

  .dashboard-main-banner {
    width: 80%;
  }

  .css-18m3zjo {
    width: 100% !important;
  }

  .dashboard-main-input {
    margin-bottom: 20px;
  }

  .dialog button {
    padding: 0px;
    width: 86%;
    text-align: left;
    display: block;
  }

  .fight-btn-dashboard button {
    padding: 8px 0px;
  }
  /* .date-box{
      width: 300px;
    } */
  .dialog button {
    margin-top: 22px;
  }
  .suggesttext {
    z-index: 2000 !important;
  }
  /* .dashboard-main-input-btn {
      width: 384px
    } */
}

@media all and (min-width: 429px) and (max-width: 768px) {
  .custom-tab {
    width: 100%;
    border-radius: 0px !important; /* padding: 10px !important; */
  }
  .custom-tab .MuiTab-root {
    padding: 0px !important;
    font-size: 12px;
  }
  .dashboard-main .MuiTab-textColorInherit.Mui-selected {
    background-color: yellow;
    border-radius: 0px !important;
  }
  .dialog button {
    margin-top: 20px;
  }
  .date-box {
    margin-top: 30px;
  }

  .dashboard-main-input-btn {
    width: 100%;
  }
  .dashboard-main-input-btn Button {
    width: 100% !important;
  }
  .date12 {
    margin-bottom: -8px;
  }
  .swap-btn {
    position: absolute;
    background: var(--primary-color);
    right: 0px;
    top: 62px;
    z-index: 1;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto !important;
    justify-content: center;
    border: 1px solid #fff;
  }
}

@media all and (min-width: 320px) and (max-width: 428px) {
  .dashboardmarquee {
    background-color: #809ab3;
    height: 40px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 17px;
    position: sticky !important;
    top: 96px !important;
    z-index: 10;
    position: fixed !important;
  }

  .dashboard-main-banner {
    width: 95%;
  }

  .css-18m3zjo {
    width: 100% !important;
  }

  .dashboard-main-input {
    margin-bottom: 20px;
    /* width: 89%; */
  }
  .date12 {
    margin-bottom: 12px;
  }

  .dialog button {
    padding: 0px;
    width: 100%;
    text-align: left;
    display: block;
    z-index: -1;
  }
  .dashboard-main-input-btn {
    width: 100%;
  }

  .search-flight-btn {
    width: 100%;
  }

  .swap-btn {
    position: absolute;
    background: var(--primary-color);
    right: -6px;
    top: 62px;
    z-index: 1;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto !important;
    justify-content: center;
    border: 1px solid #fff;
  }
}

@media only screen and (max-width: 320px) {
  .custom-tab {
    width: 100%;
    border-radius: 0px !important; /* padding: 10px !important; */
  }
  .custom-tab .MuiTab-root {
    /* padding: 0px 10px !important; */
    padding: 0px !important;
    font-size: 12px;
  }
  .dashboard-main .MuiTab-textColorInherit.Mui-selected {
    background-color: yellow;
    border-radius: 0px !important;
    min-height: 0px !important;
    height: 30px !important;
    padding: 0px !important;
    margin: 0px !important;
    /* line-height: 10px !important; */
    /* color: red; */
  }

  .dashboard-main-banner {
    width: 80%;
  }

  .css-18m3zjo {
    width: 100% !important;
  }

  .trip-round span {
    background-color: #ffff00;
    padding: 5px 15px;
  }

  .dashboard-main-input-parent {
    width: 100%;
  }

  .dashboard-main-input {
    margin-bottom: 20px;
  }

  .dialog button {
    padding: 0px;
    width: 100%;
    text-align: left;
    display: block;
  }
  .toggle-btn {
    display: none;
  }
  .dialog button {
    z-index: -1;
  }
}

.traveler-count button {
  text-align: left;
  padding: 0px 6px;
  margin: 0px;
  text-transform: capitalize;
  line-height: 28px;
}

.traveler-count span {
  color: #dc143c;
  font-family: "Poppins";
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}
button.shine-effect {
  overflow: hidden;
}
button.shine-effect::after {
  content: "";
  width: 30px;
  height: 200px;
  position: absolute;
  left: -20px;
  top: 0;
  margin-top: -20px;
  background: #fff;
  opacity: 0.6;
  filter: blur(20px);
  animation: shine 4s infinite;
  animation-delay: 0s;
  transform-origin: top;
}

@keyframes shine {
  from {
    transform: translate(0) rotate(45deg);
  }
  to {
    transform: translateX(120vh) rotate(45deg);
  }
}
