

  
  .table-responsive-p {
    overflow-x: scroll ;
  }
  .table-responsive-c {
    border-collapse: collapse;
    width: 100%;
  }

.search-history-table th {
  background-color: var(--table-th);
  font-weight: 500;
  padding: 10px;
  color: #fff;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.search-history-table td {
  padding:  6px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.search-history-table tr:hover  td {
  background-color: var(--table-hover);
  color: var(--blue-text-color);
}

@media all and (min-width:200px ) and (max-width: 900px){
  .table-responsive-p {
    overflow-x: auto;
    position: relative;
  }
  
  .table-responsive-c {
    border-collapse: collapse;
    width: 94vw;
    overflow-x: scroll ;
    display: block;
  }
  .fixed-table-row{
  position: sticky;
  left: 0;
}
}
  