.passengerInput1 p {
  color: var(--tab-text);
  font-family: "Poppins";
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
}

.passengerInput1 input {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  padding-bottom: 5px;
  background: transparent;
  color: var(--primary-color);
}

.passengerInput1 select {
  border: 0px;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  padding-bottom: 5px;
  color: var(--primary-color);
  background: transparent;
}

.passengerInput1 input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--primary-color);
  opacity: 1; /* Firefox */
  font-size: 11px;
  font-family: "Poppins";
  background: transparent;
}

.passengerInput1 input:focus {
  outline: none;
}
.passengerInput1 select:focus {
  outline: none;
}
